@import "../../styles/breakpoints";
@import "../../styles/variables";

.headerContainer {
  // background-color: yellow;
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: flex-start;
  gap: 35px;

  @include breakpoint(base) {
    padding: 0 7%;
  }

  @include breakpoint(small) {
    padding: 0 10%;
  }

  @include breakpoint(medium) {
    padding: 0 18%;
  }

  @include breakpoint(large) {
    padding: 0 20%;
  }

  .heading {
    font-style: normal;
    font-weight: 700;
    line-height: 142%;
    background: linear-gradient(180deg, $glow10 0%, $glow20 100%);
    text-shadow: 0px 0px 76px rgba(188, 251, 195, 0.3);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @include breakpoint(base) {
      font-size: 1.9rem;
    }

    @include breakpoint(medium) {
      font-size: 2.5rem;
    }
  }

  .subheading {
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
    color: $text10;

    @include breakpoint(base) {
      font-size: 1.05rem;
    }

    @include breakpoint(medium) {
      font-size: 1.125rem;
    }
  }

  a {
    color: $glow30;
    text-decoration: none;
  }
}
