/* Register your custom font family and tell the browser where to find it. */
@font-face {
  font-family: "Poppins";
  src: url("/assets/Poppins-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
