// FIXME: Figure a way out later on to style the base container.
.container {
  background-color: yellowgreen;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
