@import "../../styles/variables";
@import "../../styles/breakpoints";

.navbar {
  background-color: $blue10;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.2);

  @include breakpoint(base) {
    padding: 0px 7%;
  }

  @include breakpoint(small) {
    padding: 0px 10%;
  }

  @include breakpoint(medium) {
    padding: 0px 18%;
  }

  @include breakpoint(large) {
    padding: 0px 20%;
  }

  .logo {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .menuIcon {
    background-color: $blue10;
    border: none;

    @include breakpoint(small) {
      display: none;
    }

    @include breakpoint(medium) {
      display: none;
    }

    @include breakpoint(large) {
      display: none;
    }
  }

  .navLinks {
    display: flex;
    gap: 50px;
    color: $text10;

    @include breakpoint(base) {
      display: none;
    }

    a {
      color: $text10;
      text-decoration: none;
      font-style: normal;
      font-weight: 400;
      font-size: 1rem;
      line-height: 24px;

      &:hover {
        color: $glow20;
        text-decoration: underline;
        text-underline-offset: 3px;
      }
    }
  }
}
