// INFO: Variables for the colour pallette.
$blue10: #111a20;
$blue20: #1c2c35;
$blue30: #234b4a;
$blue40: #416883;
$blue50: #5e8ca7;
$blue60: #1d1e26;

// INFO: Variables for usage across various textual content.
$text10: #ecf8ff;
$text20: #c9e2f0;
$text30: #bbc1c7;

// INFO: Variable for making some aesthetic changes.
$glow10: #b0fbbc;
$glow20: #82f9a1;
$glow30: #83f9a2;
