/* This is a minimal and unopinionated CSS stylesheet to reset default */
/* browser styles for a better cross-browser compatability. */

/* Use a more intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margins */
* {
  margin: 0;
}

/* Prevent automatic font size adjustment in certain scenarios */
/* And set the default font family */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif;
}


/* Add accessible line-height and improve text rendering */
body {
  min-height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* Add the correct font weight in Edge and Safari */
b,
strong {
  font-weight: bolder;
}

/* Use the correct monospace font family by default. */
code,
kbd,
samp,
pre {
  font-family: theme("fontFamily.mono",
      ui-monospace,
      SFMono-Regular,
      Menlo,
      Monaco,
      Consolas,
      "Liberation Mono",
      "Courier New",
      monospace);
  font-size: 1em;
}

/* Add the correct font size in all browsers */
small {
  font-size: 80%;
}

/* Better default styles for media elements */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Normalise typographic styles for forms */
input,
button,
textarea,
select,
optgroup {
  font: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
}

/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Correct the inability to style clickable types in iOS and Safari & remove */
/* default button styles. */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  appearance: button;
  -webkit-appearance: button;
  background-color: transparent;
  background-image: none;
}

/* Remove the default stylings for lists and list items */
ol,
ul,
menu {
  list-style: none;
}

/* Make elements with the HTML hidden attribute stay hidden by default */
[hidden] {
  display: none;
}
