body {
  background-color: #111a20;
  color: #ecf8ff;
  font-family: "Poppins", sans-serif;

  a {
    color: #b0fbbc;
  }

  p {
    font-weight: normal;
    font-size: 1rem;
    color: #ecf8ff;
    margin: 1rem auto;
  }

  h1 {
    font-weight: bold;
    font-size: 2rem;
    line-height: 142%;
    color: #ecf8ff;
    margin-bottom: 1.5rem;
  }

  h2 {
    margin: 1.5rem auto;
  }

  ol,
  ul {
    padding-left: 1rem;

    li {
      margin: 0.5rem;
    }
  }

  ol {
    list-style-type: decimal;
  }

  ul {
    list-style-type: disc;
  }
}
