---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  title="Somraj Saha"
  description="Some lipsum content should be here"
>
  <p>My page content, wrapped in a layout!</p>
</BaseLayout>
