@import "../../styles/breakpoints";
@import "../../styles/variables";
@import "../../styles/mixins";

// Container for the footer section.
.footerContainer {
  padding: 25px 30px;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 9px;
  font-weight: 500;
  line-height: 180%;
  color: $text30;

  // Specific style property for the links in the footer section.
  a {
    color: #8c8888;
    text-underline-offset: 3px;
  }

  // Style properties for all the social icons.
  .socials {
    display: flex;
    flex-direction: row;
    gap: 20px;

    // Style properties for each of the individual social icon.
    a {
      background-color: $blue60;
      padding: 10px;
      border-radius: 50%;

      &:hover {
        background-color: black;
      }
    }
  }
}
