<style lang="scss">
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    section {
      padding: 4% 4%;
    }
  }

  @media screen and (min-width: 768px) {
    section {
      padding: 20px 15% 0 15%;
    }
  }

  section {
    margin: 10% 0;

    h2 {
      color: #ecf8ff;
      margin-bottom: 15px;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      font-size: 1.5rem;
      font-weight: 700;
    }

    .project-cards {
      display: grid;
      gap: 15px;
      grid-template-columns: repeat(1, minmax(0, 1fr));

      @media screen and (min-width: 768px) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
      }

      .cards {
        display: inline-flex;
        flex-direction: column;
        gap: 1rem;
        background: #1c2c35;
        border-radius: 8px;
        padding: 1.5rem;

        h3 {
          color: #ecf8ff;
          font-size: 1.5rem;
          font-weight: 400;
        }

        p {
          color: #c9e2f0;
          font-size: 1rem;
          font-weight: 500;
          font-style: normal;
          line-height: normal;
        }

        a {
          text-decoration: none;
          color: #ecf8ff;

          &:hover {
            text-decoration: underline;
            color: #82f9a1;
          }
        }
      }

      .card-one {
        border-left: 5px solid #cca9f4;
      }

      .card-two {
        border-left: 5px solid #81f59b;
      }
    }
  }
</style>

<section>
  <h2>Featured Projects</h2>
  <div class="project-cards">
    <div class:list={["cards", "card-one"]}>
      <h3>jarmos.dev</h3>
      <p>
        An open-source personal website & blog created using Next.js TypeScript
        & TailwindCSS. This project is the final iteration of the countless
        previous experimentations I performed to create an ideal personal
        website.
      </p>
      <a href="https://github.com/Jarmos-san/jarmos.dev" target="_blank"
        >Read more...</a
      >
    </div>
    <div class:list={["cards", "card-two"]}>
      <h3>neovimulus</h3>
      <p>
        A no non-sense and minimal configuration framework for those who wants
        to give Neovim a try without much fuss. Set up a complete Neovim
        experience with LSP-based autocompletion and more by running a single
        line of command!
      </p>
      <a href="https://github.com/Jarmos-san/neovimulus" target="_blank"
        >Read more...</a
      >
    </div>
  </div>
</section>
