@import "../../styles/placeholders";
@import "../../styles/variables";

.container {
  @extend %layoutContainer;

  h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 142%;
    color: $text20;
  }

  h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 142%;
    color: $text10;
  }

  h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 142%;
    color: $text20;
  }

  a {
    color: $glow30;
  }

  p {
    color: $text30;
  }

  li {
    color: $text30;
    line-height: 150%;
  }
}
