@import "../../styles/breakpoints";
@import "../../styles/variables";

.container {
  @include breakpoint(base) {
    padding: 40px 10%;
  }

  @include breakpoint(small) {
    padding: 40px 12%;
  }

  @include breakpoint(medium) {
    padding: 60px 20%;
  }

  h1 {
    margin: 40px auto;
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 142%;
    color: $text20;
  }

  h2 {
    margin: 40px auto;
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 142%;
    color: $text10;
  }

  h3 {
    margin: 40px auto;
    font-style: normal;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 142%;
    color: $text30;
  }

  a {
    color: $glow30;
  }

  p {
    color: $text30;
    margin: 20px auto;
  }

  li {
    color: $text30;
    // line-height: 250%;
  }
}
