body {
  background-color: #111a20;
  color: #ecf8ff;
  font-family: "Poppins", sans-serif;

  & a {
    color: #b0fbbc;
  }

  & p {
    font-weight: normal;
    font-size: 1rem;
    color: #ecf8ff;
    margin-block: 1rem;
  }

  & h1 {
    font-weight: bold;
    font-size: 2rem;
    line-height: 142%;
    color: #ecf8ff;
    margin-bottom: 1.5rem;
  }

  & h2 {
    margin-block: 1.5rem;
  }
}
