---
import BaseLayout from "../layouts/BaseLayout.astro";

const description = `Somraj Saha is a Senior Software Engineer building Weburz,
  a company offering web solutions to small-scale business owners looking to
  expand their business operations on the Internet.
`;
---

<style lang="scss">
  @media screen and (min-width: 320px) and (max-width: 767px) {
    article {
      padding: 0 8% 0 8%;
      margin: 10% 0 10% 0%;
    }
  }

  @media screen and (min-width: 768px) {
    article {
      margin: 5% 15% 5% 15%;
    }
  }

  article {
    a {
      color: #ecf8ff;
      text-underline-offset: 5px;
      text-decoration-thickness: 2px;
    }

    h1 {
      color: #ecf8ff;
      font-family: Poppins;
      font-size: 3rem;
      font-style: normal;
      font-weight: 700;
      line-height: 142%;
      margin-bottom: 2rem;
    }

    h2 {
      color: #ecf8ff;
      font-family: Poppins;
      font-size: 1.5rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin: 1.5rem 0;
    }

    p {
      color: #ecf8ff;
      margin-bottom: 1rem;
    }

    ol {
      color: #ecf8ff;
      list-style-type: decimal;
      padding: 1.25rem;
      line-height: 180%;
    }
  }
</style>

<BaseLayout
  title="About Me"
  description={description}
  slug="/about"
  imageAlt="The logo of Somraj Saha's personal website"
  imageUrl={new URL(
    "https://ik.imagekit.io/jarmos/logo.png?updatedAt=1703675914287"
  )}
>
  <article>
    <h1>About</h1>
    <p>
      Hi there! 👋🏽 Welcome to my "<a
        href="https://www.thunknotes.com/blog/what-is-a-digital-garden"
        target="_blank">digital garden</a
      >" where I share my thoughts, knowledge and experience as a Software
      Engineer.
    </p>
    <p>
      I'm Somraj Saha (aka "Jarmos") and I taught myself to code almost a decade
      ago! These days I head the Engineering and Infrastructure Technology (IT)
      department at <a href="https://weburz.com" target="_blank">Weburz</a> as the
      Chief Technology Officer (CTO)
      <a href="https://weburz.com" target="_blank">Weburz</a> along with my co-founder
      and Chief Executive Officer (CEO)
      <a href="https://sagarkapoor.eu" target="_blank">Sagar Kapoor</a>.
    </p>
    <p>
      At Weburz we specialise in providing custom web-based solutions for medium
      and small-scale business owners who're looking to expand their presence on
      the Internet. If you want us to work on your projects, drop an email at - <a
        href="mailto:contact@weburz.com"
        target="_blank">contact@weburz.com</a
      > and someone from the company will respond back to you as soon as possible!
    </p>
    <p>
      If you rather want to reach out to me personally for some reason, please
      feel free to drop me an email at - <a
        href="mailto:somraj.saha@weburz.com"
        target="_blank">somraj.saha@weburz.com</a
      >.
    </p>
    <h2>The Programming Languages I Use</h2>
    <p>
      Over the years I've had many opportunities to work on a wide range of
      projects (both professional and personal). And thanks to such
      opportunities I learned to write quite a few programming languages. Hence,
      here is a brief list of programming language I'm either working with or
      have working knowledge of;
    </p>
    <ol>
      <li>
        <a href="https://www.python.org" target="_blank">Python</a> when dealing
        with small-scale scripts, system automation and/or building large scale backend
        APIs.
      </li>
      <li>
        <a href="https://www.typescriptlang.com" target="_blank">TypeScript</a>
        for writing web-based applications using <a
          href="https://vuejs.org"
          target="_blank">Vue.js</a
        > (and <a href="https://react.dev">React.js</a> some years ago).
      </li>
      <li>
        <a href="https://lua.org" target="_blank">Lua</a> for help with configuring
        embedded environments like the ones available in <a
          href="https://neovim.io"
          target="_blank">Neovim</a
        >, <a href="https://wezfurlong.org/wezterm/index.html">Wezterm</a> & <a
          href="https://redis.io/"
          target="_blank">Redis</a
        >.
      </li>
      <li>
        <a href="https://go.dev" target="_blank">Golang</a> to build fast & asynchronous
        system backends as well as for building easy-to-distribute executable binaries.
      </li>
    </ol>
    <h2>Primary Frameworks & Libraries</h2>
    <p>
      I've used quite a number of framework/libraries over the years. Some go
      out of trend or have become unusable for a myriad of reasons hence I'm not
      listing all of them here. Some of the said tools in the list are even used
      extensively at Weburz currently!
    </p>
    <ol>
      <li>
        <a href="https://nuxt.org" target="_blank">Nuxt.js</a> to build fast, responsive
        and modern web applications using the power of <a
          href="https://vuejs.org"
          target="_blank">Vue.js</a
        > and its related tools.
      </li>
      <li>
        <a href="https://fastapi.tiangolo.com" target="_blank">FastAPI</a> to build
        asynchronous REST APIs using Python for our backend services.
      </li>
      <li>
        <a href="https://tailwindcss.com" target="_blank">TailwindCSS</a> as our
        go-to CSS framework of choice when we want to quickly build a simple website
        or an MVP.
      </li>
    </ol>
    <h2>Other Dev Tools in My Belt</h2>
    <p>
      A developer without his/her tools is like "<em
        >Batman without his Batsuit</em
      >" & I'm no different! I use a myriad list of other tools besides the one
      mentioned above for tasks like DevOps, writing/editing code and more.
      Hence, here's a list of all the tools I use for my development and work
      requirements;
    </p>
    <ol>
      <li>
        <a href="https://ubuntu.com/" target="_blank">Ubuntu</a>/<a
          href="https://www.debian.org/"
          target="_blank">Debian</a
        > is my primary Operating System of choice for writing code but lately I'm
        experimenting with <a
          href="https://learn.microsoft.com/en-us/windows/wsl/"
          target="_blank">WSL 2</a
        > on a Windows laptop and <a
          href="https://fedoraproject.org/"
          target="_blank">Fedora 40</a
        >
        as well!
      </li>
      <li>
        <a href="https://www.docker.com" target="_blank">Docker</a> for containerising
        projects locally for development and deploying them to various runtime environments.
      </li>
      <li>
        <a href="https://www.terraform.io/" target="_blank">Terraform</a> & <a
          href="https://www.ansible.com/"
          target="_blank">Ansible</a
        > for managing our cloud infrastructure & provisioning.
      </li>
      <li>
        <a href="https://neovim.io" target="_blank">Neovim</a> as my choice of a
        Text Editor to write code! I've configured the tool to be a "<a
          href="https://youtu.be/QMVIJhC9Veg?si=PjcDowVBq34iFopC"
          target="_blank">Personalised Developement Environment (PDE)</a
        >" so if you're interested in how I did it, feel free to check out my <a
          href="https://github.com/Jarmos-san/dotfiles">dotfiles</a
        >.
      </li>
    </ol>
    <p>
      That said, as a Software Engineer I'm always on my feet to learn and pick
      up the latest new tools and tricks of the trade. As mentioned earlier,
      listing all of the tools in a single page isn't possible but I do promise
      to keep it updated ever so often for your interests.
    </p>
  </article>
</BaseLayout>
