@import "../styles/breakpoints";

// INFO: Mixin to add some percentage margin on the y-axis.
@mixin margin-y($units) {
  margin: $units 0px $units 0px;
}

// INFO: Mixin to add some percentage padding on the x-axis.
@mixin padding-x($percent) {
  padding: 0px $percent 0px $percent;
}

// INFO: Mixing to add some percetage padding on the y-axis.
@mixin padding-y($percent) {
  padding: $percent 0px $percent 0px;
}

@mixin container-props {
  max-width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include breakpoint(base) {
    @include margin-y(70px);
    @include padding-x(7%);
  }

  @include breakpoint(small) {
    @include margin-y(70px);
    @include padding-x(10%);
  }

  @include breakpoint(medium) {
    @include margin-y(80px);
    @include padding-x(18%);
  }

  @include breakpoint(large) {
    @include margin-y(90px);
    @include padding-x(20%);
  }
}

@mixin projectCardStyles {
  background-color: $blue20;
  border-radius: 5px;
  padding: 20px;

  display: flex;
  flex-direction: column;
  gap: 25px;
}
