@import "variables";
@import "breakpoints";

%layoutContainer {
  display: flex;
  flex-direction: column;
  gap: 35px;

  @include breakpoint(base) {
    padding: 0 7%;
  }

  @include breakpoint(small) {
    padding: 0 10%;
  }

  @include breakpoint(medium) {
    padding: 0 18%;
  }

  @include breakpoint(large) {
    padding: 0 20%;
  }
}

%proseStyles {
  h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 142%;
    color: $text20;
  }

  h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 142%;
    color: $text10;
  }

  h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 142%;
    color: $text20;
  }

  a {
    color: $glow30;
  }

  p {
    color: $text30;
  }

  li {
    color: $text30;
    line-height: 150%;
  }
}
