@import "variables";

// styling resets for better control
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  scrollbar-width: thin;
  scrollbar-color: $blue20 $glow30;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: $blue20;
}

*::-webkit-scrollbar-thumb {
  background-color: $blue30;
}

html,
body {
  // height: 100%;
  min-height: 100vh;
  margin: 0;
  position: relative;
  line-height: 1.5;
  background-color: $blue10;
  font-family: "Poppins", sans-serif;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}
