---
import { Image } from "astro:assets";
---

<style lang="scss">
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #bbc1c7;
    gap: 20px;
    text-align: center;
    padding: 5%;

    a {
      color: #ecf8ff;
      text-decoration: none;

      &:hover {
        color: #b0fbbc;
        text-decoration: underline;
        text-underline-offset: 5px;
        text-decoration-thickness: 2px;
      }
    }

    .footer-links {
      display: flex;
      gap: 15px;
      font-weight: 600;
    }

    .footer-icons {
      display: flex;
      gap: 1rem;
    }
  }
</style>

<footer>
  <img src="/assets/logo.svg" alt="" height="90" />

  <span class="footer-links">
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/blog">Blog</a>
  </span>

  <small>
    Website designed by{" "}
    <a href="https://www.warner.codes" target="_blank">Ryan Warner</a> | Developed
    by <a href="/">Somraj Saha</a> with Open-Source ❤️ &copy; 2018-{
      new Date().getFullYear()
    }
  </small>

  <small class="footer-links">
    <a href="/terms-and-conditions">Terms and Conditions</a>
    <a href="/distribution-rights">Distribution Rights</a>
    <a href="privacy-policy">Privacy Policy</a>
  </small>

  <span class="footer-icons">
    <a href="https://twitter.com/Jarmosan" target="_blank">
      <Image
        src="/assets/x.svg"
        alt="Somraj Saha's Twitter profile"
        width={20}
        height={20}
      />
    </a>
    <a href="https://github.com/Jarmos-san" target="_blank">
      <Image
        src="/assets/github.svg"
        alt="Somraj Saha's GitHub profile"
        width={20}
        height={20}
      />
    </a>
    <a href="https://www.linkedin.com/in/jarmos" target="_blank">
      <Image
        src="/assets/linkedin.svg"
        alt="Somraj Saha's LinkedIn profile"
        width={20}
        height={20}
      />
    </a>
    <a href="https://instagram.com/jarmos.san" target="_blank">
      <Image
        src="/assets/instagram.svg"
        alt="Somraj Saha's Instagram profile"
        width={20}
        height={20}
      />
    </a>
    <a href="/rss.xml" target="_blank">
      <Image
        src="/assets/rss.svg"
        alt="Somraj Saha's blog RSS feed"
        width={20}
        height={20}
      />
    </a>
  </span>
</footer>
