---
import { Image } from "astro:assets";
---

<style lang="scss">
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    nav {
      padding: 4% 4%;

      .nav-items {
        display: none;
      }

      .mobile-menu {
        color: white;
      }
    }
  }

  @media screen and (min-width: 768px) {
    nav {
      padding: 20px 15% 0 15%;

      .mobile-menu {
        display: none;
      }
    }
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Poppins;
  }

  .nav-items {
    display: flex;
    gap: 1.8em;

    a {
      text-decoration: none;
      color: #ecf8ff;
      font-weight: 500;

      &:hover {
        color: #83f9a2;
        text-decoration: underline;
        text-underline-offset: 5px;
        text-decoration-thickness: 2px;
      }
    }
  }
</style>

<header>
  <nav>
    <a href="/">
      <!-- TODO: Add name beside the logo -->
      <Image
        src="/assets/logo.svg"
        alt="The logo of Somraj Saha's personal website"
        width={60}
        height={60}
      />
    </a>

    <div class="mobile-menu">
      <img src="/assets/ham-menu.svg" alt="" />
    </div>

    <div class="nav-items">
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/blog">Blog</a>
    </div>
  </nav>
</header>
