---
import { getCollection } from "astro:content";

const allBlogs = await getCollection("blog");

const latestBlogs = allBlogs
  .sort((a, b) => Number(b.data.publishedDate) - Number(a.data.publishedDate))
  .slice(0, 3);
---

<style lang="scss">
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    section {
      padding: 4% 4%;
    }
  }

  @media screen and (min-width: 768px) {
    section {
      padding: 20px 15% 0 15%;
    }
  }

  section {
    color: #ecf8ff;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    span {
      display: flex;
      align-items: center;
      justify-content: space-between;

      h2 {
        font-family: Poppins;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }

      a {
        color: #ecf8ff;
        text-decoration: none;
        font-size: 1rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;

        &:hover {
          color: #b0fbbc;
          text-decoration: underline;
          text-underline-offset: 4px;
          text-decoration-thickness: 2px;
        }
      }
    }

    .blog-cards {
      h3 {
        color: #ecf8ff;
        font-family: Poppins;
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin: 0.5rem 0;
      }

      time {
        color: #5e8ca7;
        font-size: 0.95rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }

      a {
        text-decoration: none;

        &:hover {
          color: #5e8ca7;
          text-decoration: underline;
          text-underline-offset: 4px;
          text-decoration-thickness: 2px;
        }
      }
    }
  }
</style>

<section>
  <span>
    <h2>Latest Blogposts</h2>
    <a href="/blog">All blogposts...</a>
  </span>
  {
    latestBlogs.map((blog) => (
      <div class="blog-cards">
        <a href={blog.slug}>
          <h3>{blog.data.title}</h3>
        </a>
        <time>
          {blog.data.publishedDate.toLocaleDateString(undefined, {
            weekday: "long",
            day: "numeric",
            year: "numeric",
            month: "long",
          })}
        </time>
      </div>
    ))
  }
</section>
