@import "../../styles/variables";

.mobileMenu {
  margin: 5px 8%;
  color: $text10;

  ul {
    list-style: none;
    padding-left: 0;
    text-align: center;
    font-size: 1.25rem;
    line-height: 250%;

    a {
      color: $text10;
      text-underline-offset: 3px;

      &:hover {
        color: $glow30;
      }
    }
  }
}
