name: Test Suite

on:
  pull_request:
    types:
      - synchronize
      - opened
      - ready_for_review
      - reopened
      - review_requested
    paths: [website/**]

jobs:
  vitest:
    name: Run Vitest
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./website
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6.0.1

      - name: Install pnpm
        uses: pnpm/action-setup@v4.2.0
        with:
          version: 10

      - name: Setup Node.js
        uses: actions/setup-node@v6.1.0
        with:
          node-version: 24
          cache: "pnpm"
          cache-dependency-path: "./website/pnpm-lock.yaml"

      - name: Install Dependencies
        run: pnpm install --frozen-lockfile

      - name: Run Vitest
        run: pnpm test
